<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nicolagigante.garage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HomeCloud"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro"
            android:label="@string/title_activity_intro"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Intro1" />
        <activity
            android:name=".Intro_Name"
            android:label="@string/title_activity_intro__name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Intro2" />
        <activity
            android:name=".Intro_Auth"
            android:label="@string/title_activity_intro__auth"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Intro3" />
        <activity
            android:name=".Intro_Done"
            android:label="@string/title_activity_intro__done"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:label="HomeCloud"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Redirect"
            android:label="HomeCloud"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.garage.MainActivity" />
        </activity>
        <activity
            android:name=".User_Settings"
            android:label="@string/title_activity_user__settings"
            android:parentActivityName=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/UserSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.garage.Settings" />
        </activity>
        <activity
            android:name=".Garage_Settings"
            android:label="@string/title_activity_garage__settings"
            android:parentActivityName=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/GarageSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.garage.Settings" />
        </activity>
        <activity
            android:name=".About_App"
            android:label="@string/title_activity_about__app"
            android:parentActivityName=".Settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.garage.Settings" />
        </activity>
        <activity
            android:name=".NameGarage"
            android:label="@string/title_activity_name_garage"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NameGarage" />
        <activity
            android:name=".GarageNameSettings"
            android:label="@string/title_activity_garage_name_settings"
            android:parentActivityName=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/GarageNameSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.garage.Settings" />
        </activity>
        <activity
            android:name=".Intro_Athmo"
            android:label="@string/title_activity_intro__athmo"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/IntroAthmo" />
        <activity
            android:name=".Athmo_Wizard_Homescreen"
            android:label="@string/title_activity_athmo__wizard__homescreen"
            android:theme="@style/IntroAthmo" />
        <activity
            android:name=".Intro_Athmo_Auth"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/IntroAthmo" />
        <activity
            android:name=".Athmo_Settings"
            android:label="@string/title_athmo_settings"
            android:parentActivityName=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/AthmosSettings" />
        <activity
            android:name=".Athmo"
            android:label="@string/athmo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AthmosSettings" />
        <activity
            android:name=".Athmo_Wizard_Setup"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/IntroAthmo" />
        <activity
            android:name=".QuickOpen"
            android:label="Garage"
            android:theme="@style/Theme.Transparent"
            android:icon="@mipmap/ic_launcher_qo"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
